@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@1,300&display=swap');

body {
  font-family: 'Mulish', sans-serif;
  letter-spacing: 1px;
}

h1 {
  color: #31112c;
  font-size: 39px;
  line-height: 35px;
  font-stretch: semi-expanded;
  font-weight: bolder;
  margin-top: 25px;
}

ul {
  margin: 0;
  color: #ff5126;
  padding-bottom: 15px;
}

li {
  list-style: none;
  margin: 0;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}

hr {
  margin: 20px 40px;
}

h6 {
  margin: 0;
  color: #ff5126;
  padding: 0px;
}

.weather-app-wrapper {
  max-width: 650px;
  margin: 0 auto;
  padding: 20px;
}

.weather-app {
  max-width: 650px;
  margin: 0 auto;
  padding: 30px;
  background: #daebee;
  border: 1px solid #b6d7de;
}

.overview {
  margin-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
}

.btn {
  color: white;
  background: #31112c;
  border: none;
}

.btn:hover {
  color: white;
  background: #ff5126;
  border: none;
}

.lastUpdated li {
  text-align: right;
  color: rgb(95, 94, 94);
  font-size: 13px;
}

.col-md-6 {
  padding-left: 10px;
  padding-right: 10px;
}

.weather-temperature img {
  margin-right: 6px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: #ff5126;
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather.temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
  color: #ff5126;
}

.weather-temperature .active {
  color: #ff5126;
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
  color: #ff5126;
}

.current-weather-list {
  text-align: right;
  padding-right: 30px;
}

.weather-forecast {
  margin-top: 10px;
}

.weather-forecast h3 {
  color: rgb(95, 94, 94);
  font-size: 14px;
  text-align: center;
  height: 15px;
  line-height: 15px;
  padding-top: 7px;
}

.weather-forecast img {
  display: block;
  margin: 0 auto;
  height: 48px;
  width: 48px;
}

.weather-forecast-temperature {
  text-align: center;
  color: #ff5126;
  font-size: 13px;
  font-weight: 400;
  height: auto;
  line-height: 15px;
  white-space: nowrap;
  padding-bottom: 3px;
}
